
#sort_texture01{
    background-color: #fff;
}
.sort_texture01{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
/* 背景 */
.sort_texture01_bg{
    width: 100%;
    height: 100%;
}
.sort_texture01_bg_l{
    width: 65%;
    height: 100%;
    background: url(../images/banner/marble_bg.jpg) no-repeat left top;
    float:left;
} 
.sort_texture01_bg_r{
    width: 35%;
    height: 100%;
    background: url(../images/banner/tin_texture.jpg) no-repeat center center;
    background-size: cover;
    float: right;
}
/* 前方圖片與色塊 */
.sort_texture01_top{
    width: 85%;
    height: 100%;
    margin: -80vh 0 0 0;
    float: right;
}
.sort_texture01_top>figure{
    width: 100%;
    height: 80%;
    background: url(../images/article/41831742764_29cab9c5a9_k.jpg) no-repeat left bottom;
    background-size: cover;
    position: relative;
}
.sort_texture01_top_box1{
    height: 60%;
    width: 14%;
    background: url(../images/banner/marble_bg.jpg) no-repeat left top;
    position: absolute;
    bottom: 0;
    left: 0;
}
.sort_texture01_top_box2{
    width: 10%;
    height: 25%;
    background-color: #662424;
    position: absolute;
    top: 0;
    right: 0;
}
.sort_texture01_top_topic{
    z-index: 5;
    position: absolute;
    left: 70px;
    bottom: 22%;
}
.sort_texture01_top_topic>h2{
    font-size: 45px;
    line-height: 60px;
    letter-spacing: 0.1em;
    font-weight: 700;
    color: #fff;
    font-family: 'Playfair Display';
}
.sort_texture01_top_topic>h3{
    font-size: 40px;
    line-height: 55px;
    letter-spacing: 0.01em;
    color: #fff;
    font-family: 'SourceHanSerifTC-Bold';
}

/* part2 */
.sort_texture02{
    height: 160vh;
    flex-direction: column;
}
/* 大圖與介紹 */
.sort_texture02_intro{
    width: 100%;
    height: 50%;
    margin: 0 auto;
    overflow: hidden;
}
.sort_texture02_intro_bg{
    background-color: #fff;
    height: 500px;
    width: 80%;
    margin: -43% auto 0 auto;
}
/* .sort_texture02_intro_box{
    width: 15%;
    height: 45%;
    background-color: #fff;
    float: right;
} */
.sort_texture02_intro_top{
    justify-content: space-between;
    height: 70%;
    width: 80%;
    margin: 200px auto 0 auto;
}
.sort_texture02_intro_l{
    width: 40%;
    height: 100%;
    padding: 6% 0 0 80px;
    flex-direction: column;
    justify-content: space-around;
}
.sort_texture02_intro_r{
    height: 100%;
    width: 53%;
    overflow: hidden;
    background: url(../images/H-other-chair-09.png) no-repeat right 95%;
    background-size: cover;
}
.sort_texture02_intro_l_txt>h3{
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.1em;
    color: #736558;
    font-family: 'SourceHanSerifTC-Bold';
}
.sort_texture02_h2{
    font-size: 80px;
    letter-spacing: 0.05em;
    color: #736558;
    font-weight: 700;
    font-family: 'Playfair Display';
}
.sort_texture02_intro_l_txt>p{
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.1em;
    color: #736558;
    font-family: 'Noto Sans TC';
}
/* 推薦商品導引文字 */
.sort_texture02_rec{
    height: 12%;
    text-align: center;
    padding-top: 90px;
}
.sort_texture02_rec > h5{
    font-size: 15px;
    font-weight: 200;
    letter-spacing: 0.3em;
    font-family: 'Noto Sans TC';
    color: #fff;
}
.sort_texture02_rec > figure{
    height: 25px;
    width: 25px;
    margin: 8px auto;
}
.sort_texture02_rec > figure img{
    height: 100%;
    object-fit: contain;
}
/* 推薦商品 */
.sort_texture02_rec_product{
    height: 30%;
    justify-content: space-between;
    padding-top: 30px;
}
.sort_texture02_rec_product_scale:hover{
    transform: scale(1.1);
}
.sort_texture02_rec_product a{
    text-decoration: none;
}
.sort_texture02_rec_product_s{
    width: 20%;
    height: 100%;
    text-align: center;
}
.sort_texture02_rec_product_l{
    width: 35%;
    height: 100%;
    text-align: center;
}
.sort_texture02_rec_product01{
    height: 80%;
    background: url(../images/H-other-table-06.png) no-repeat center center;
    background-size: cover;
}
.sort_texture02_rec_product02{
    height: 80%;
    background: url(../images/H-other-table-05.png) no-repeat center center;
    background-size: cover;
}
.sort_texture02_rec_product03{
    height: 80%;
    background: url(../images/H-other-chair-03.png) no-repeat center center;
    background-size: contain;
}
.sort_texture02_rec_product h6{
    font-size: 16px;
    letter-spacing: 0.05em;
    line-height: 30px;
    color: #fff;
    font-weight: 700;
    font-family: 'Playfair Display';
}
/* part3 */
.sort_texture03{
    height: 160vh;
    flex-direction: column;
}
/* 大圖與介紹 */
.sort_texture03_intro{
    width: 100%;
    height: 50%;
    margin: 0 auto;
    overflow: hidden;
}
.sort_texture03_intro_bg{
    background-color: #fff;
    height: 500px;
    width: 80%;
    margin: -43% auto 0 auto;
}
/* .sort_texture03_intro_box{
    width: 25%;
    height: 30%;
    background-color: #fff;
    float: left;
} */
.sort_texture03_intro_top{
    justify-content: space-between;
    height: 70%;
    width: 80%;
    margin: 200px auto 0 auto;
}
.sort_texture03_intro_l{
    width: 40%;
    height: 100%;
    padding: 5% 50px 0 0;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}
.sort_texture03_intro_l_txt{
    text-align: right;
}
.sort_texture03_intro_r{
    height: 100%;
    width: 63%;
    overflow: hidden;
    background: url(../images/H-other-chair-05.png) no-repeat center 68%;
    background-size: cover;
    margin-left: -6%;
}
.sort_texture03_intro_l_txt>h3{
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.1em;
    color: #444;
    font-family: 'SourceHanSerifTC-Bold';
}
.sort_texture03_h2{
    font-size: 70px;
    letter-spacing: 0.05em;
    color: #444;
    font-weight: 700;
    font-family: 'Playfair Display';
}
.sort_texture03_intro_l_txt>p{
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.1em;
    color: rgb(180,180,180);
    font-family: 'Noto Sans TC';
}
/* 推薦商品導引文字 */
.sort_texture03_rec{
    height: 12%;
    text-align: center;
    padding-top: 90px;
}
.sort_texture03_rec > h5{
    font-size: 15px;
    font-weight: 200;
    letter-spacing: 0.3em;
    font-family: 'Noto Sans TC';
    color: #fff;
}
.sort_texture03_rec > figure{
    height: 25px;
    width: 25px;
    margin: 8px auto;
}
.sort_texture03_rec > figure img{
    height: 100%;
    object-fit: contain;
}
/* 推薦商品 */
.sort_texture03_rec_product{
    height: 30%;
    justify-content: space-between;
    padding-top: 30px;
}
.sort_texture03_rec_product_scale:hover{
    transform: scale(1.1);
}
.sort_texture03_rec_product a{
    text-decoration: none;
}
.sort_texture03_rec_product_s{
    width: 20%;
    height: 100%;
    text-align: center;
}
.sort_texture03_rec_product_l{
    width: 35%;
    height: 100%;
    text-align: center;
}
.sort_texture03_rec_product01{
    height: 80%;
    background: url(../images/H-candle-03.png) no-repeat center center;
    background-size: contain;
}
.sort_texture03_rec_product02{
    height: 80%;
    background: url(../images/H-light-07.png) no-repeat center center;
    background-size: cover;
}
.sort_texture03_rec_product03{
    height: 80%;
    background: url(../images/H-other-table-03.png) no-repeat center center;
    background-size: contain;
}
.sort_texture03_rec_product04{
    height: 80%;
    background: url(../images/H-light-08.png) no-repeat center center;
    background-size: contain;
}
.sort_texture03_rec_product h6{
    font-size: 16px;
    letter-spacing: 0.05em;
    line-height: 30px;
    color: #fff;
    font-weight: 700;
    font-family: 'Playfair Display';
}
/* part4 */
.sort_texture04{
    height: 160vh;
    flex-direction: column;
}
/* 大圖與介紹 */
.sort_texture04_intro{
    width: 100%;
    height: 50%;
    margin: 0 auto;
    overflow: hidden;
}
.sort_texture04_intro_bg{
    background-color: #fff;
    height: 500px;
    width: 80%;
    margin: -43% auto 0 auto;
}
/* .sort_texture04_intro_box{
    width: 25%;
    height: 45%;
    background-color: #fff;
    float: right;
} */
.sort_texture04_intro_top{
    justify-content: space-between;
    height: 70%;
    width: 80%;
    margin: 200px auto 0 auto;
}
.sort_texture04_intro_l{
    width: 40%;
    height: 100%;
    padding: 6% 0 0 80px;
    flex-direction: column;
    justify-content: space-around;
}
.sort_texture04_intro_r{
    height: 100%;
    width: 60%;
    overflow: hidden;
    background: url(../images/H-other-table-01.png) no-repeat center center;
    background-size: cover;
}
.sort_texture04_intro_l_txt>h3{
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.1em;
    color: #ad776c;
    font-family: 'SourceHanSerifTC-Bold';
}
.sort_texture04_h2{
    font-size: 65px;
    letter-spacing: 0.05em;
    color: #a4594a;
    font-weight: 700;
    font-family: 'Playfair Display';
}
.sort_texture04_intro_l_txt>p{
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.1em;
    color: #ad776c;
    font-family: 'Noto Sans TC';
}
/* 推薦商品導引文字 */
.sort_texture04_rec{
    height: 12%;
    text-align: center;
    padding-top: 90px;
}
.sort_texture04_rec > h5{
    font-size: 15px;
    font-weight: 200;
    letter-spacing: 0.3em;
    font-family: 'Noto Sans TC';
    color: #fff;
}
.sort_texture04_rec > figure{
    height: 25px;
    width: 25px;
    margin: 8px auto;
}
.sort_texture04_rec > figure img{
    height: 100%;
    object-fit: contain;
}
/* 推薦商品 */
.sort_texture04_rec_product{
    height: 30%;
    justify-content: space-between;
    padding-top: 30px;
}
.sort_texture04_rec_product_scale:hover{
    transform: scale(1.1);
}
.sort_texture04_rec_product a{
    text-decoration: none;
}
.sort_texture04_rec_product_s{
    width: 20%;
    height: 100%;
    text-align: center;
}
.sort_texture04_rec_product_l{
    width: 35%;
    height: 100%;
    text-align: center;
}
.sort_texture04_rec_product01{
    height: 80%;
    background: url(../images/H-blue-table-02.png) no-repeat center center;
    background-size: contain;
}
.sort_texture04_rec_product02{
    height: 80%;
    background: url(../images/H-other-table-09.png) no-repeat center center;
    background-size: cover;
}
.sort_texture04_rec_product03{
    height: 80%;
    background: url(../images/H-other-chair-06.png) no-repeat center center;
    background-size: contain;
}
.sort_texture04_rec_product h6{
    font-size: 16px;
    letter-spacing: 0.05em;
    line-height: 30px;
    color: #fff;
    font-weight: 700;
    font-family: 'Playfair Display';
}
/* part5 */
.sort_texture05{
    /*width: 70%;*/
    flex-direction: column;
    justify-content: space-between;
    margin-top: 80px;
}
.sort_texture05_sec1{
    width: 100%;
    height: 30px;
    margin-bottom: 50px;
}
.sort_texture05_sec1 li{
    display: inline-block;
    padding: 10px;
    font-size: 14px;
    font-family: 'Noto Sans TC';
    line-height: 20px;
    letter-spacing: 0.1em;
}
.sort_texture05_filter{
    width: 130px;
    background-color: #000;
    border-radius: 40px;
    color: #fff;
    margin-right: 10px;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}
.sort_texture05_filter:hover{
    background-color: #666;
}
.sort_texture05_filter>figure{
    width: 20px;
    height: 20px;
    background: url(../images/icon/filter.svg) no-repeat center center;
    background-size: cover;
    margin-left: 10px;
    float: left;
}
.sort_texture05_byprice>figure, .sort_texture05_bytime>figure{
    width: 10px;
    height: 15px;
    background: url(../images/icon/next.svg) no-repeat center center;
    background-size: cover;
    margin: 3px 10px 0 3px;
    float: right;
}
.sort_texture05_row{
    width: 100%;
    /*height: 300px;*/
    /*justify-content: space-between;*/
    margin-top: 30px;
    flex-wrap: wrap;
}
.sort_texture05_box_l{
    width: 50%;
    height: 100%;
    position: relative;
}
.sort_texture05_box_s{
    width: 25%;
    height: 100%;
    position: relative;
}
.sort_texture05_box_l img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.sort_texture05_box_s img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.product_mask h3.product_name a{
font-size: 20px;
font-family: 'Playfair Display';
font-weight: 700;
color: #fff;
line-height: 40px;
}
/* 頁碼 */
.sort_texture05_page{
    width: 100%;
    height: 40px;
    margin: 70px 0 50px 0;
    text-align: center;
}
.sort_texture05_page li{
    display: inline-block;
    font-size: 15px;
    font-family: 'Roboto';
    font-weight: 500;
    padding: 10px 2px 2px 2px;
    color: #888;
    transition: all .5s;
}
.sort_texture05_page li:hover{
    color:#000;
}
.sort_texture05_page .page{
    margin: 0 8px 0 8px;
}
.sort_texture05_page .page:hover{
    border-bottom: 1px solid #000;
}
.page_prev, .page_next{
    width: 90px;
}
.page_next{
    padding-left: 10px;
}
.page_prev figure{
    height: 15px;
    width: 25px;
    background: url(../images/icon/arrow.svg) no-repeat center center;
    background-size: contain;
    float: left;
}
.page_next figure{
    height: 15px;
    width: 25px;
    background: url(../images/icon/arrow2.svg) no-repeat center center;
    background-size: contain;
    float: right;
}

/* js jq */
