#sort_black01{
    background-color: #fff;
}
.sort_black01{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
/* 背景 */
.sort_black01_bg{
    width: 100%;
    height: 100%;
}
.sort_black01_bg_l{
    width: 65%;
    height: 100%;
    background-color: rgb(70,70,70);
    float:left;
} 
.sort_black01_bg_r{
    width: 35%;
    height: 100%;
    background-color: #000;
    float: right;
}
/* 前方圖片與色塊 */
.sort_black01_top{
    width: 85%;
    height: 100%;
    margin: -80vh 0 0 0;
    float: right;
}
.sort_black01_top>figure{
    width: 100%;
    height: 80%;
    background: url(../images/banner/40745885510_cbc65a1f51_k_01.jpg) no-repeat left 40%;
    background-size: cover;
    position: relative;
}
.sort_black01_top_box1{
    height: 60%;
    width: 14%;
    background-color: rgb(70,70,70);
    position: absolute;
    bottom: 0;
    left: 0;
}
.sort_black01_top_box2{
    width: 10%;
    height: 25%;
    background-color: #000;
    position: absolute;
    top: 0;
    right: 0;
}
.sort_black01_top_topic{
    z-index: 5;
    position: absolute;
    left: 70px;
    bottom: 22%;
}
.sort_black01_top_topic>h2{
    font-size: 45px;
    line-height: 60px;
    letter-spacing: 0.1em;
    font-weight: 700;
    color: #fff;
    font-family: 'Playfair Display';
}
.sort_black01_top_topic>h3{
    font-size: 40px;
    line-height: 55px;
    letter-spacing: 0.01em;
    color: #fff;
    font-family: 'SourceHanSerifTC-Bold';
}
/* part2 */
.sort_black02{
    height: 160vh;
    flex-direction: column;
}
/* 大圖與介紹 */
.sort_black02_intro{
    width: 100%;
    height: 50%;
    margin: 0 auto;
    overflow: hidden;
}
.sort_black02_intro_bg{
    background-color: #fff;
    height: 500px;
    width: 80%;
    margin: -43% auto 0 auto;
}
.sort_black02_intro_box{
    width: 15%;
    height: 45%;
    background-color: #fff;
    float: right;
}
.sort_black02_intro_top{
    justify-content: space-between;
    height: 70%;
    width: 80%;
    margin: 200px auto 0 auto;
}
.sort_black02_intro_l{
    width: 40%;
    height: 100%;
    padding: 6% 0 0 80px;
    flex-direction: column;
    justify-content: space-around;
}
.sort_black02_intro_r{
    height: 100%;
    width: 60%;
    overflow: hidden;
    background: url(../images/H-black-table-01.png) no-repeat center center;
    background-size: contain;
}
.sort_black02_intro_l_txt>h3{
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.1em;
    color: #444;
    font-family: 'SourceHanSerifTC-Bold';
}
.sort_black02_h2{
    font-size: 80px;
    letter-spacing: 0.05em;
    color: #000;
    font-weight: 700;
    font-family: 'Playfair Display';
}
.sort_black02_intro_l_txt>p{
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.1em;
    color: rgb(180,180,180);
    font-family: 'Noto Sans TC';
}
/* 推薦商品導引文字 */
.sort_black02_rec{
    height: 12%;
    text-align: center;
    padding-top: 90px;
}
.sort_black02_rec > h5{
    font-size: 15px;
    font-weight: 200;
    letter-spacing: 0.3em;
    font-family: 'Noto Sans TC';
    color: #fff;
}
.sort_black02_rec > figure{
    height: 25px;
    width: 25px;
    margin: 8px auto;
}
.sort_black02_rec > figure img{
    height: 100%;
    object-fit: contain;
}
/* 推薦商品 */
.sort_black02_rec_product{
    height: 30%;
    justify-content: space-between;
    padding-top: 30px;
}
.sort_black02_rec_product_scale:hover{
    transform: scale(1.1);
}
.sort_black02_rec_product a{
    text-decoration: none;
}
.sort_black02_rec_product_s{
    width: 20%;
    height: 100%;
    text-align: center;
}
.sort_black02_rec_product_l{
    width: 35%;
    height: 100%;
    text-align: center;
}
.sort_black02_rec_product01{
    height: 80%;
    background: url(../images/H-light-01.png) no-repeat center center;
    background-size: contain;
}
.sort_black02_rec_product02{
    height: 80%;
    background: url(../images/H-black-chair-02.png) no-repeat center center;
    background-size: contain;
}
.sort_black02_rec_product03{
    height: 80%;
    background: url(../images/H-cup-03.png) no-repeat center center;
    background-size: contain;
}
.sort_black02_rec_product04{
    height: 80%;
    background: url(../images/H-black-table-03.png) no-repeat center center;
    background-size: contain;
}
.sort_black02_rec_product h6{
    font-size: 16px;
    letter-spacing: 0.05em;
    line-height: 30px;
    color: #fff;
    font-weight: 700;
    font-family: 'Playfair Display';
}
/* part3 */
.sort_black03{
    height: 160vh;
    flex-direction: column;
}
/* 大圖與介紹 */
.sort_black03_intro{
    width: 100%;
    height: 50%;
    margin: 0 auto;
    overflow: hidden;
}
.sort_black03_intro_bg{
    background-color: rgb(220,220,220);
    height: 500px;
    width: 80%;
    margin: -43% auto 0 auto;
}
.sort_black03_intro_box{
    width: 25%;
    height: 30%;
    background-color: #fff;
    float: left;
}
.sort_black03_intro_top{
    justify-content: space-between;
    height: 70%;
    width: 80%;
    margin: 200px auto 0 auto;
}
.sort_black03_intro_l{
    width: 40%;
    height: 100%;
    padding: 5% 50px 0 0;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}
.sort_black03_intro_l_txt{
    text-align: right;
}
.sort_black03_intro_r{
    height: 100%;
    width: 70%;
    overflow: hidden;
    background: url(../images/H-white-chair-03.png) no-repeat center 70%;
    background-size: contain;
}
.sort_black03_intro_l_txt>h3{
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.1em;
    color: rgb(100,100,100);
    font-family: 'SourceHanSerifTC-Bold';
}
.sort_black03_h2{
    font-size: 70px;
    letter-spacing: 0.05em;
    color: #444;
    font-weight: 700;
    font-family: 'Playfair Display';
}
.sort_black03_intro_l_txt>p{
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.1em;
    color: rgb(120,120,120);
    font-family: 'Noto Sans TC';
}
/* 推薦商品導引文字 */
.sort_black03_rec{
    height: 12%;
    text-align: center;
    padding-top: 90px;
}
.sort_black03_rec > h5{
    font-size: 15px;
    font-weight: 200;
    letter-spacing: 0.3em;
    font-family: 'Noto Sans TC';
    color: #000;
}
.sort_black03_rec > figure{
    height: 25px;
    width: 25px;
    margin: 8px auto;
}
.sort_black03_rec > figure img{
    height: 100%;
    object-fit: contain;
}
/* 推薦商品 */
.sort_black03_rec_product{
    height: 30%;
    justify-content: space-between;
    padding-top: 30px;
}
.sort_black03_rec_product_scale:hover{
    transform: scale(1.1);
}
.sort_black03_rec_product a{
    text-decoration: none;
}
.sort_black03_rec_product_s{
    width: 20%;
    height: 100%;
    text-align: center;
}
.sort_black03_rec_product_l{
    width: 35%;
    height: 100%;
    text-align: center;
}
.sort_black03_rec_product01{
    height: 80%;
    background: url(../images/H-white-chair-04.png) no-repeat center center;
    background-size: contain;
}
.sort_black03_rec_product02{
    height: 80%;
    background: url(../images/H-bottle-01.png) no-repeat center center;
    background-size: contain;
}
.sort_black03_rec_product03{
    height: 80%;
    background: url(../images/H-light-02.png) no-repeat center center;
    background-size: contain;
}
.sort_black03_rec_product04{
    height: 80%;
    background: url(../images/H-carpet01.png) no-repeat center center;
    background-size: contain;
}
.sort_black03_rec_product h6{
    font-size: 16px;
    letter-spacing: 0.05em;
    line-height: 30px;
    color: #fff;
    font-weight: 700;
    font-family: 'Playfair Display';
}
/* part4 */
.sort_black04{
    height: 160vh;
    flex-direction: column;
}
/* 大圖與介紹 */
.sort_black04_intro{
    width: 100%;
    height: 50%;
    margin: 0 auto;
    overflow: hidden;
}
.sort_black04_intro_bg{
    background-color: #fff;
    height: 500px;
    width: 80%;
    margin: -43% auto 0 auto;
}
.sort_black04_intro_box{
    width: 25%;
    height: 45%;
    background-color: #fff;
    float: right;
}
.sort_black04_intro_top{
    justify-content: space-between;
    height: 70%;
    width: 80%;
    margin: 200px auto 0 auto;
}
.sort_black04_intro_l{
    width: 40%;
    height: 100%;
    padding: 6% 0 0 80px;
    flex-direction: column;
    justify-content: space-around;
}
.sort_black04_intro_r{
    height: 100%;
    width: 60%;
    overflow: hidden;
    background: url(../images/H-grey-chair-07.png) no-repeat center 60%;
    background-size: cover;
}
.sort_black04_intro_l_txt>h3{
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.1em;
    color: #444;
    font-family: 'SourceHanSerifTC-Bold';
}
.sort_black04_h2{
    font-size: 80px;
    letter-spacing: 0.05em;
    color: rgb(190,190,190);
    font-weight: 700;
    font-family: 'Playfair Display';
}
.sort_black04_intro_l_txt>p{
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.1em;
    color:rgb(180,180,180);
    font-family: 'Noto Sans TC';
}
/* 推薦商品導引文字 */
.sort_black04_rec{
    height: 12%;
    text-align: center;
    padding-top: 90px;
}
.sort_black04_rec > h5{
    font-size: 15px;
    font-weight: 200;
    letter-spacing: 0.3em;
    font-family: 'Noto Sans TC';
    color: #fff;
}
.sort_black04_rec > figure{
    height: 25px;
    width: 25px;
    margin: 8px auto;
}
.sort_black04_rec > figure img{
    height: 100%;
    object-fit: contain;
}
/* 推薦商品 */
.sort_black04_rec_product{
    height: 30%;
    justify-content: space-between;
    padding-top: 30px;
}
.sort_black04_rec_product_scale:hover{
    transform: scale(1.1);
}
.sort_black04_rec_product a{
    text-decoration: none;
}
.sort_black04_rec_product_s{
    width: 20%;
    height: 100%;
    text-align: center;
}
.sort_black04_rec_product_l{
    width: 35%;
    height: 100%;
    text-align: center;
}
.sort_black04_rec_product01{
    height: 80%;
    background: url(../images/H-light-05.png) no-repeat center center;
    background-size: contain;
}
.sort_black04_rec_product02{
    height: 80%;
    background: url(../images/H-grey-chair-10.png) no-repeat center center;
    background-size: cover;
}
.sort_black04_rec_product03{
    height: 80%;
    background: url(../images/H-candle-02.png) no-repeat center center;
    background-size: contain;
}
.sort_black04_rec_product h6{
    font-size: 16px;
    letter-spacing: 0.05em;
    line-height: 30px;
    color: #fff;
    font-weight: 700;
    font-family: 'Playfair Display';
}
/* part5 */
.sort_black05{
    /*width: 70%;*/
    flex-direction: column;
    justify-content: space-between;
    margin-top: 80px;
}
.sort_black05_sec1{
    width: 100%;
    height: 30px;
    margin-bottom: 50px;
}
.sort_black05_sec1 li{
    display: inline-block;
    padding: 10px;
    font-size: 14px;
    font-family: 'Noto Sans TC';
    line-height: 20px;
    letter-spacing: 0.1em;
}
.sort_black05_filter{
    width: 130px;
    background-color: #000;
    border-radius: 40px;
    color: #fff;
    margin-right: 10px;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}
.sort_black05_filter:hover{
    background-color: #666;
}
.sort_black05_filter>figure{
    width: 20px;
    height: 20px;
    background: url(../images/icon/filter.svg) no-repeat center center;
    background-size: cover;
    margin-left: 10px;
    float: left;
}
.sort_black05_byprice>figure, .sort_black05_bytime>figure{
    width: 10px;
    height: 15px;
    background: url(../images/icon/next.svg) no-repeat center center;
    background-size: cover;
    margin: 3px 10px 0 3px;
    float: right;
}
.sort_black05_row{
    width: 100%;
    /*height: 300px;*/
    /*justify-content: space-between;*/
    margin-top: 30px;
    flex-wrap: wrap;
}
.sort_black05_box_l{
    width: 50%;
    height: 100%;
    position: relative;
}
.sort_black05_box_s{
    width: 25%;
    height: 100%;
    position: relative;
}
.sort_black05_box_l img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.sort_black05_box_s img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.product_mask h3.product_name a{
font-size: 20px;
font-family: 'Playfair Display';
font-weight: 700;
color: #fff;
line-height: 40px;
}
/* 頁碼 */
.sort_black05_page{
    width: 100%;
    height: 40px;
    margin: 70px 0 50px 0;
    text-align: center;
}
.sort_black05_page li{
    display: inline-block;
    font-size: 15px;
    font-family: 'Roboto';
    font-weight: 500;
    padding: 10px 2px 2px 2px;
    color: #888;
    transition: all .5s;
}
.sort_black05_page li:hover{
    color:#000;
}
.sort_black05_page .page{
    margin: 0 8px 0 8px;
}
.sort_black05_page .page:hover{
    border-bottom: 1px solid #000;
}
.page_prev, .page_next{
    width: 90px;
}
.page_next{
    padding-left: 10px;
}
.page_prev figure{
    height: 15px;
    width: 25px;
    background: url(../images/icon/arrow.svg) no-repeat center center;
    background-size: contain;
    float: left;
}
.page_next figure{
    height: 15px;
    width: 25px;
    background: url(../images/icon/arrow2.svg) no-repeat center center;
    background-size: contain;
    float: right;
}

/* js jq */
